<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

    <div class="sidebar">
      <h1>SLACA 2019</h1>
      <img src="../assets/img/logo.png" alt="Logo do Evento" width="220" height="258">
      <nav>
        <ul>
          <li>Apresentação</li>
          <li>Comitês</li>
          <li>Autores</li>
          <li>Eixos Temáticos</li>
          <li class="active">Trabalhos</li>
          <li>Contato</li>
        </ul>
      </nav>
    </div>
    
    <main>
      <header>
        <div class="header-title">
          <p>Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
          <h3>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</h3>
          <p>ISSN: 1234-5678</p>
        </div>
        <div class="lang-button">
          <i class="material-icons" id="langico">language</i>
          PT,BR 
          <i class="material-icons">arrow_drop_down</i>
        </div>
        <div class="profile">
          <span>
            <h5>Bem-Vindo!</h5>
            <p>alguem12@galoascience.com</p>
          </span>
          <div>
            <img src="../assets/img/profile-image.png" alt="Imagem de Perfil">
          </div>
        </div>
      </header>
      <div class="content-main"></div>
    </main>
