<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

    <div class="sidebar">
      <h1>SLACA 2019</h1>
      <img src="../assets/img/logo.png" alt="Logo do Evento" width="220" height="258">
      <nav>
        <ul>
          <li>Apresentação</li>
          <li>Comitês</li>
          <li>Autores</li>
          <li>Eixos Temáticos</li>
          <li class="active">Trabalhos</li>
          <li>Contato</li>
        </ul>
      </nav>
    </div>
    
    <main>
      <header>
        <div class="header-title">
          <p>Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
          <h3>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</h3>
          <p>ISSN: 1234-5678</p>
        </div>
        <div class="lang-button">
          <i class="material-icons" id="langico">language</i>
          PT,BR 
          <i class="material-icons">arrow_drop_down</i>
        </div>
        <div class="profile">
          <span>
            <h5>Bem-Vindo!</h5>
            <p>alguem12@galoascience.com</p>
          </span>
          <div>
            <img src="../assets/img/profile-image.png" alt="Imagem de Perfil">
          </div>
        </div>
      </header>
      <div class="content-main">
        <div>
          <div class="content">
            <div class="content-title">
              <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP </h2>
            </div>
            <div class="favbtns">
              <ul>
                <li>
                  <img src="../assets/img/download-icon.svg" class="icon">
                  Download
                </li>
                <li>
                  <img src="../assets/img/favoritar-icon.svg" class="icon">
                </li>
                <li>
                  <img src="../assets/img/doi-icon.svg" class="icon">
                </li>
              </ul>
              <p>COMO CITAR ESSE TRABALHO?</p>
            </div>
          </div>
          <div class="content">
            <img src="../assets/img/video.png" width="783" height="439" alt="Video Preview">
            <div class="detalhes">
              <h4>Detalhes</h4>
              <div class="textod scrollobj">
                  Tipo de Apresentação: <b>Pôster</b><br>
                  Eixo temático: <b>Alimentação e saúde (AS)</b><br> 
                  Palavras-chaves: <b>Alimentos funcionais, alimentação escolar.</b>
                  <br><br><br> 
                  
                  <b>Autores:</b><br>
                  Galileo Galilei¹<br>
                  Berta Lange de Morretes²<br>
                  Isaac Newton³<br>
                  Cesar Lattes¹<br>
                  Stephen Hawking⁴<br>
                  <br><br>
                  ¹Universidade Estadual de Campinas <br>
                  ²Universidade de São Paulo <br>
                  ³Instituto Nacional de Pesquisas Espaciais <br>
                  ⁴Universidade Federal do Rio de Janeiro
              </div>
          </div>
          </div>
          <div class="content-card">
            <h4>Resumo</h4>
            <div [class.collapsed]="isCollapsed">
              {{ text }}
            </div>
            <a href="#" class="btn-show-more" (click)="toggleCollapse()" *ngIf="showReadMore">{{ isCollapsed ? 'ver mais' : 'ver menos' }}</a>
          </div>
        </div>
      </div>
    </main>

