<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="sidebar">
  <h1>SLACA 2019</h1>
  <img src="../assets/img/logo.png" alt="Logo do Evento" width="220" height="258">
  <nav>
    <ul>
      <li>Apresentação</li>
      <li>Comitês</li>
      <li>Autores</li>
      <li>Eixos Temáticos</li>
      <li class="active">Trabalhos</li>
      <li>Contato</li>
    </ul>
  </nav>
</div>
