/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
  }

li {
    list-style: none;
}

.sidebar {
    display: inline-block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    height: 100vh;

    h1 {
        padding: 19px 0 19px 0;

        font-family: "Roboto", sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 35px;

        text-align: center;

        color: #FDF1EB;
        background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    }

    li {
        border-bottom: 2px solid #e7e7e7;

        padding: 8px 0 8px 24px;
        font-size: 15px;
        line-height: 18px;
        font-weight: 500;
        font-family: "Quicksand";
        color: #725C5C;

        &:hover {
            background-color: #FDF1EB;
        }
        &.active {
            position: relative;
            background-color: #FDF1EB;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 5px;
                height: 34px;
                background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
            }
        }
    }
}