/* You can add global styles to this file, and also import other style files */
$gradient: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);

* {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}
body {
    position: relative;
}
.sidebar {
    display: inline-block;
    position:absolute;
    padding: 0;
    //max-width: fit-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    height:100%;

    h1 {
        padding: 19px 0 19px 0;

        font-family: "Roboto", sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 35px;

        text-align: center;

        color: #FDF1EB;
        background: $gradient;
    }

    li {
        border-bottom: 2px solid #e7e7e7;

        padding: 8px 0 8px 24px;
        font-size: 15px;
        line-height: 18px;
        font-weight: 500;
        font-family: "Quicksand";
        color: #725C5C;

        &:hover {
            background-color: #FDF1EB;
        }
        &.active {
            position: relative;
            background-color: #FDF1EB;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 5px;
                height: 34px;
                background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
            }
        }
    }
}

main {
    padding-left: 220px;
    
    header {
        display: flex;
        padding-top: 8px;
        padding-bottom: 8px;
        justify-content: space-evenly;
        align-items: center;
        background-color: #FDF1EB;
    
        .header-title {
            color: #725C5C;
            font-family: "Roboto";
            p {
                font-size: 14px;
                line-height: 16px;
            }
            h3 {
                font-weight: 400;
                font-size: 22px;
                line-height: 25px;
            }
        }
        .lang-button {
            width: 97px; 
            height: 34px;
            border: 1px solid #CCCCCC;
            border-radius: 3px;
            font-family: "Roboto";
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
    
        .profile {
            width: fit-content;
            position: relative;
            display: flex;
            gap: 7px;
    
            font-family: "Quicksand";
            text-align: right;
            color: #333333;
    
            h5 {
                font-size: 14px;
                font-weight: 400;
                line-height: 17.5px;
            }
            p {
                font-size: 12px;
                line-height: 15px;
            }
    
            img {
                border-radius: 50%;
            }
    
            div {
                &::after {
                    content: "2";
                    color: white;
                    font-size: 10px;
                    text-align: center;
                    background-color: red;
                    position: absolute;
                    top: -3px;
                    right: -3px;
                    width: 12px;
                    border-radius: 50%;
                }
            }
        }
    }

    .content-main {
        font-family: "Roboto";
        padding: 20px 43px;

        .card-header {
            border-bottom: 1px solid #e7e7e7;
            color: #4E4E4E;
            font-weight: 500;
            size: 20px;
            line-height: 25px;
            
            background-color: #FDF1EB;
            
            padding: 11px 15px 11px 15px;
        }
        .content {
            display: flex;
            gap: 56px;

            .content-title {
                width: 784px;
                h2 {
                    font-weight: 900;
                    font-size: 20px;
                    line-height: 25px;
                    letter-spacing: 5%;
        
                    max-width: 60ch;
                    color: #ED7839;
                }
            }

            .favbtns {
                width: 270px;
            }
            ul {
                color: #FFFFFF;
                display: flex;
                justify-content: flex-end;
                gap: 5px;
            }
    
            li {
                display: flex;
                gap: 5px;
                
                max-width: max-content;
                padding: 6px 12px;
                border-radius: 4px;
                background-color: #ED7839;
    
                font-weight: 500;
                font-size: 16px;
                line-height: 18px;
            }
    
            p {
                font-weight: 500;
                font-size: 14px;
                line-height: 25px;
                letter-spacing: 5%;
                text-align: center;
    
                color: #ED7839;
            }

            .detalhes {
                border: 1px solid #e7e7e7;
                .textod{
                    width: fit-content;
                    height: 322px;
                    overflow: hidden;
                    overflow-y: scroll;
                    padding: 15px;
                    font: normal 400 20px / 25px 'Roboto';
                    letter-spacing: 0.02em;
                    color: #5C5C5C;
                    &::-webkit-scrollbar {
                        width: 3px;
                    }
                    &::-webkit-scrollbar-track {
                        background: #E7E7E7;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: #BFBFBF;
                    }
                    &::-webkit-scrollbar-thumb:hover {
                        background: #555;
                    }
                }

            }
        }

        .card {
            margin-top: 30px;
            border: 1px solid #ececec;
            position: relative;
            
            .content-card {
                padding: 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
                h3,h4 {
                    color: #ED7839;
                }

                .summary {
                    font-family: "Quicksand";
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22px;
                    letter-spacing: 2%;
                    color: #5C5C5C;
                }
                .create-topic {
                    padding: 15px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h3 {
                        font-family: "Roboto";
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 21px;
                    }
    
                    span {
                        font-family: "Quicksand";
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 19px;
                        text-align: center;
                        width: 80ch;
                        margin-bottom: 14px;
                    }
                    .icons {
                        margin-top: 27px;
                        margin-bottom: 35px;
                    }
                    .btn-create-topic {
                        position: relative;
                        
                        padding: 9px 13px;
                        border-radius: 4px;
                        
                        color: white;
                        background: $gradient;
                        box-shadow: 0px 2px 2px 0px #0000003D, 0px 0px 2px 0px #0000001F;
                        
                        display: flex;
                        gap: 6px;
                        margin-bottom: 15px;
                        
                        //decoração do botão de criar tópicos
                        &::before {
                            content: "";
                            width: 878px;
                            height: 1px;
                            background-color: #e7e7e7;
                            position: absolute;
                            z-index: -1;
                            top: 50%;
                            left: -375px;
                        }
                    }
                }
                .form-container {
                    position: relative;
                    width: 95%;
                    margin-bottom: 15px;
                    .topic-title {
                        font-family: "Quicksand";
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 17.5px;
                        text-align: center;
                    }
                }
                .form {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    position: relative;
                    margin-bottom: 30px;

                    .form-subject {
                        margin-top: 10px;

                        color: #ED7839;

                        font-family: "Roboto";
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 18.75px;
                        text-align: left;
                    }
                    .subject {
                        padding: 10px 23px;
                        border: 1px solid #CCCCCC;
                        border-radius: 3px;

                        &::placeholder {
                            font-family: "Quicksand";
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 17.5px;
                            text-align: left;

                        }
                    }
                    .message-container {
                        border: 1px solid #CCCCCC;
                        border-radius: 3px;
                        display: flex;
                        flex-direction: column;
                        .form-textarea {
                            border:none;
                            height: 82px;
                        }
                        .button-container {
                            display: flex;
                            border-top: 1px solid #CCCCCC;
                            .detail-bar {
                                width: 1000px;
                                height: 31px;
                                background: #EAF1F2;
                            }
                            .submit {
                                width: 205px;
                                border: none;
                                background: $gradient;
                                
                                font-family: Quicksand;
                                font-size: 15px;
                                font-weight: 700;
                                line-height: 16px;
                                text-align: center;
                                color: #FFFFFF;
                            }
                        }
                    }

                    &::after {
                        content: "";
                        width: 100%;
                        height: 1px;
                        background-color: #E7E7E7;

                        position: absolute;
                        top: 110%;
                    }
                }
                .feedback {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    align-items: center;
                    justify-content: center;
                    background-color: rgba(221, 221, 221, 0.9);
                    border: 1px solid #E7E7E7;
                    border-radius: 4px;
                    .feedback-text {
                        font-family: Quicksand;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 20px;
                        text-align: left;
                        color: #707070;
                    }
                    .topic-edit {
                        color: #ED7839;
                        text-decoration: underline;
                    }
                }
                .topic-card {
                    font-family: "Quicksand";
                    width: 95%;
                    margin-bottom: 17px;
                    //padding: 17px 24px;
                    border: 1px solid #E7E7E7;
                    box-shadow: 0px 0px 8px 0px #0000001F;
                    
                    .ops-topic-subject {
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                    }
                    h5 {
                        margin-top: 3px;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 15px;
                        color: #5C5C5C;
                    }
                    p {
                        margin-top: 10px;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17.5px;
                        color: #4D4D4D;
                    }
                    .comments-btn-group {
                        margin-top: 11px;
                        ul {
                            display: flex;
                            align-items: center;
                            gap: 15px;

                            .like-btn {
                                border-radius: 4px;
                                padding: 2px 10px;
                                background-color: #ED7839;
                            }
                        }
                    }
                }
                .topic {
                    padding: 17px 24px;
                }
                .answered-topic {
                    h5 {
                        font-weight: 700;
                    }
                    .comments-container {
                        .comment-header {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }
                        .comment {
                            padding: 17px 24px;
                            border-top: 1px solid #E7E7E7;
                        }
                        .comment:nth-child(odd) {
                            background: #F8F8F8;
                        }
                    }
                    
                } 
            }
            .collapsed {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 5; /* Adjust the number of lines to show */
                -webkit-box-orient: vertical;
            }
            .btn-show-more {
                font-family: "Quicksand";
                text-decoration: none;
                font-weight: 700;
                color: #ED7839;
                cursor: pointer;
            }
            .hidden {
                display: none !important; 
            }  
        }
    }

    footer {
        display: flex;
        justify-content: center;
    }
}


